@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-screen-lg w-full px-4 md:px-8;
  }

  .link {
    @apply transition hover:text-accent-200;
  }

  .panel {
    @apply border-white/10 bg-black/50 backdrop-blur shadow-md shadow-black/50;
  }
  .panel-interactive {
    @apply hover:border-accent-700 hover:text-accent-200 transition active:scale-95 active:duration-0;
  }

  @keyframes fade-in-zoom {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-out-zoom {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  .radix-fade-zoom-transition {
    transform-origin: var(--radix-popover-content-transform-origin);
  }
  .radix-fade-zoom-transition[data-state="open"] {
    animation: fade-in-zoom theme(transitionDuration.DEFAULT);
  }
  .radix-fade-zoom-transition[data-state="closed"] {
    animation: fade-out-zoom theme(transitionDuration.DEFAULT);
  }
}
